[ req ]
default_bits       = 4096
default_md         = sha256
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
prompt             = no

[ req_distinguished_name ]
CN = box
O  = nodeline
L  = Karlsruhe
ST = Baden-Württemberg
C  = DE

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = box
DNS.2 = localhost
DNS.3 = host.docker.internal
IP.1 = 127.0.0.1
